
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by SayHau</p>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="script/index.js" charset="utf-8"></script> -->

</body>
</html>
