<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <address>
     <a href="mailto:sayhau1984@hotmail.com">SayHau Ong</a.<br>
     </address>
<%- include("partials/footer"); -%>
