<%- include("partials/header"); -%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>

<h1>Drop File Area</h1>

<br>
<p>
  This is currently disable. You can find a section of code in this page parsing HTTP request to server(if you want to explore it). The server has coded to convert the STDF to a JSON object and a CSV. 
  </p>
<input type="file">


<script>
  // prettier-ignore
  [{
      supported: 'Symbol' in window,
      fill: 'https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js'
    },
    {
      supported: 'Promise' in window,
      fill: 'https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js'
    },
    {
      supported: 'fetch' in window,
      fill: 'https://cdn.jsdelivr.net/npm/fetch-polyfill@0.8.2/fetch.min.js'
    },
    {
      supported: 'CustomEvent' in window && 'log10' in Math && 'sign' in Math && 'assign' in Object && 'from' in Array && ['find', 'findIndex', 'some', 'includes'].reduce(function(previous, prop) {
        return (prop in Array.prototype) ? previous : false;
      }, true),
      fill: 'https://unpkg.com/filepond-polyfill/dist/filepond-polyfill.js'
    }
  ].forEach(function(p) {
    if (p.supported) return;
    document.write('<script src="' + p.fill + '"><\/script>');
  });
</script>

<script src="./script/filepond.js"></script>

<script>
  // Get a reference to the file input element
  const inputElement = document.querySelector('input[type="file"]');

  // Create the FilePond instance
  const pond = FilePond.create(inputElement, {
    allowMultiple: true,
    allowReorder: true,
  });

  // Easy console access for testing purposes
  window.pond = pond;

//disable for heroku
  // FilePond.setOptions({
  //   server: {
  //     process: './filepond',
  //     fetch: null,
  //
  //     revert: (uniqueFileId, load, error) => {
  //
  //      // const request = new XMLHttpRequest();
  //      //            request.open('DELETE', uniqueFileId);
  //       const XHR = new XMLHttpRequest();
  //
  //   // Define what happens on successful data submission
  //   XHR.addEventListener( 'load', function(event) {
  //     alert( 'Yeah! Data sent and response loaded.' );
  //   } );
  //
  //   // Define what happens in case of error
  //   XHR.addEventListener( 'error', function(event) {
  //     alert( 'Oops! Something went wrong.' );
  //   } );
  //
  //   // Set up our request
  //   XHR.open( 'DELETE', './filepond' );
  //
  //   // Add the required HTTP header for form data POST requests
  //   XHR.setRequestHeader( 'Content-Type', 'json' );
  //   jsonId = {'id':uniqueFileId};
  //   console.log(uniqueFileId);
  //   // Finally, send our data.
  //   XHR.send(JSON.stringify(jsonId));
  //     }
  //   }
  //
  // });

</script>

<%- include("partials/footer"); -%>
